
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
 @import "tailwindcss";

@theme {
  --section-height: 500px;

  --text-course-details-heading-small: 26px;
  --text-course-details-heading-small--line-height: 36px;

  --text-course-details-heading-large: 36px;
  --text-course-details-heading-large--line-height: 44px;

  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  --text-default: 15px;
  --text-default--line-height: 21px;

  --grid-cols-auto: repeat(auto-fit, minmax(250px, 1fr));
}

@utility h-section-height {
  height: var(--section-height);
}

* {
  font-family: Outfit;
} */ *


